@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-image {
    @apply w-full h-full absolute top-0 bg-base bg-cover bg-top 2xl:bg-center;
  }

  .subtitle {
    @apply text-gray-500 font-light sm:text-sm;
  }

  .input {
    @apply max-w-xs block w-full py-1 border-b border-gray-500 text-sm text-gray-900 bg-transparent focus:outline-none focus:border-gray-900;
  }

  .label {
    @apply text-xs text-gray-500;
  }

  .error-msg {
    @apply text-red-600 text-xs h-4 mt-1;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .scroll-fade {
    -webkit-mask-image: linear-gradient(transparent, black 5%, black 90%, transparent 100%);
    mask-image: linear-gradient(transparent, black 5%, black 90%, transparent 100%);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.menu-card:hover .menu-card-arrow {
  position: relative;
  left: 0.5rem;
}

.menu-card:hover .menu-card-label > p {
  color: rgb(6, 78, 59);
}